<!-- <div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Renk Adı</th>
    </tr>
  </thead>
  <tr *ngFor="let color of colors">
    <td>{{ color.colorId }}</td>
    <td>{{ color.colorName }}</td>
    
  </tr>
</table> -->

<div class="mb-1">
  <label for="filterText" class="form-label">Rengi Aramak İçin Buraya Yazın</label>
  <input type="text" [(ngModel)]="filterText"  class="form-control" id="filterText" placeholder="KIRMIZI">
                      <!-- ngModel için FormsModel'i import etmeyi unutma -->
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">  
                                  <!-- bu alert'ler ile ilgili 19. gün 44. dakika veya get/bootstrap -->
{{filterText}} aradınız
</div>

<ul class="list-group">
  <li [class]="getAllColorClass()" routerLink="/cars" >Tüm Renkler</li>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    *ngFor="let color of colors |filterColor:filterText"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName |uppercase}}
  </li>
</ul>

<h5 *ngIf="currentColor">
  {{ currentColor.colorName + " seçtiniz" }}
</h5>
<!-- currentCategory undefiend'iken (yani yukarda belrtilen
            click gerçekleşmediği zaman) boş tablo döndürüyor
            burdaki ngIf ise durumu defiend olduğu zaman devreye gir demek -->
