<!-- <form [formGroup]="carForm">

 

    <select formControlName="cars" name="cars" id="cars">
  <option *ngFor="let car of cars" [value]="car.carId" [class]="getCurrentCarClass(car)" >{{car.carName}} </option>

  
   
</select>
<button 
  type="submit"
  class="btn btn-success mt-2"
  routerLink="/car/detail/{{carform.value.carId}}"
  >Gönder</button>
</form> -->
<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-category></app-category>
            <app-brand></app-brand>
            <app-color></app-color>
        </div>

        <div class="col-md-9">
            <table *ngIf="dataLoaded==true" class="table">
                <thead>
                    <tr>
                        <th>Araba No</th>
                        <th>Araba İsmi</th>
                        <th>Kategori No</th>
                        <th>Marka No</th>
                        <th>Renk No</th>
                        <th>Model Yılı</th>
                        <th>Ücreti</th>
                        <th>Stok Adedi</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tr *ngFor="let car of cars">
                    <td>{{car.carId}}</td>
                    <td (click)="setCurrentCar(car)" routerLink="/cars/detail/{{car.carId}}"
                        [class]="getCurrentCarClass(car)">{{car.carName}}</td>
                    <td>{{car.categoryId}}</td>
                    <td>{{car.brandId}}</td>
                    <td>{{car.colorId}}</td>
                    <td>{{car.modelYear}}</td>
                    <td>{{car.unitPrice|currency:'₺'}}</td>
                    <td>{{car.unitsInStock}}</td>
                    <td>{{car.description}}</td>
                </tr>


            </table>
        </div>
    </div>


</div>