<!-- <form [formGroup]="carForm">

 

    <select formControlName="cars" name="cars" id="cars">
  <option *ngFor="let car of cars" [value]="car.carId" [class]="getCurrentCarClass(car)" >{{car.carName}} </option>

  
   
</select>
<button 
  type="submit"
  class="btn btn-success mt-2"
  routerLink="/car/detail/{{carform.value.carId}}"
  >Gönder</button>
</form> -->
<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            <app-category></app-category>
            <app-brand></app-brand>
            <app-color></app-color>
        </div>

        <div class="col-md-9">
            <app-car-filter></app-car-filter>
            <table *ngIf="dataLoaded==true" class="table">
                <thead>
                    <tr>
                        <th class="centered">Araba No</th>
                        <th class="centered">Araba İsmi</th>
                        <th class="centered">Kategori No</th>
                        <th class="centered">Marka No</th>
                        <th class="centered">Renk No</th>
                        <th class="centered">Model Yılı</th>
                        <th class="centered">Ücreti</th>
                        <th class="centered">Stok Adedi</th>
                        <th class="centered">Açıklama</th>
                    </tr>
                </thead>
                <tr *ngFor="let car of cars">
                    <td class="centered">{{car.carId}}</td>
                    <td (click)="setCurrentCar(car)" routerLink="/cars/detail/{{car.carId}}"
                        [class]="getCurrentCarClass(car)">{{car.carName}}</td>
                        <td class="centered">{{car.categoryId}}</td>
                    <td class="centered">{{car.brandId}}</td>
                    <td class="centered">{{car.colorId}}</td>
                    <td class="centered">{{car.modelYear}}</td>
                    <td class="centered">{{car.unitPrice|currencySymbolSuffix:'₺'}}</td>
                    <td class="centered">{{car.unitsInStock}}</td>
                    <td class="centered">{{car.description}}</td>
                </tr>


            </table>
        </div>
    </div>


</div>